<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113939685128-l9qqd15frlpr6o16qn80h8k8ogng8dg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113939685128-l9qqd15frlpr6o16qn80h8k8ogng8dg4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>113939685128-22ohkuc50695emcdglsgth52n8gh42kf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiScvQ2bPO2v3CeUqxk-jbFzoctz8eGUM</string>
	<key>GCM_SENDER_ID</key>
	<string>113939685128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nihongo</string>
	<key>PROJECT_ID</key>
	<string>capstone-ee1db</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-ee1db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113939685128:ios:d3446fecf8cdcb064956bd</string>
</dict>
</plist>